arandr==0.1.10
asgiref==3.6.0
astroid==2.5.1
asttokens==2.0.4
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==4.0.0
cupshelpers==1.0
dbus-python==1.2.16
distlib==0.3.8
distro==1.5.0
distro-info==1.0
Django==4.1.4
django-tinymce==3.6.1
docutils==0.16
filelock==3.13.1
gasp==0.6.1
gpg===1.14.0-unknown
html5lib==1.1
idna==2.10
isort==5.6.4
jedi==0.18.0
Jinja2==2.11.3
lazy-object-proxy==0.0.0
logilab-common==1.8.1
lxml==4.6.3
MarkupSafe==1.1.1
mccabe==0.6.1
menulibre==2.2.1
mypy==0.812
mypy-extensions==0.4.3
olefile==0.46
parso==0.8.1
pbr==5.8.1
Pillow==8.1.2
platformdirs==4.1.0
psutil==5.8.0
pycairo==1.16.2
pycups==2.0.1
pycurl==7.43.0.6
pygame==2.5.1
Pygments==2.7.1
PyGObject==3.38.0
pylint==2.7.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
pyserial==3.5b0
PySimpleGUI==4.56.0
pysmbc==1.0.23
python-apt==2.2.1
python-debian==0.1.39
pyxattr==0.7.2
PyYAML==5.3.1
qutebrowser==2.0.2
requests==2.25.1
roman==2.0.0
Send2Trash==1.6.0b1
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.3
tendo==0.2.15
thonny==3.2.7
toml==0.10.1
ttkthemes==3.2.0
typed-ast==1.4.2
typing-extensions==3.7.4.3
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.5
vboxapi==1.0
virtualenv==20.25.0
webencodings==0.5.1
wrapt==1.12.1
youtube-dl==2021.6.6
