
{% extends 'core/Tubmanhigh/tubmanhighbase.html' %}
{% load static %}

{% block content %}
<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'schoolassets/img/Tubman-1.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Brief History</h3>
          <p>
            William V.S. Tubman High School was built & equipped through a joint partnership of 
            the Government of Liberia and the San Francisco State College of the United 
            States of America in 1967. The school was first called Monrovia Jr. 
            High School but was later renamed in honor of the 18th President of Liberia, 
            Dr. William V.S. Tubman during the the school’s first graduation ceremony in 1968.
            He was one of the best presidents of Liberia who served from his election in 1944 till his death in 1971. 
          </p>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->


  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>Announcement</h2>
      <p> </p>
    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Events Section ======= -->
  <section id="events" class="events">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'schoolassets/img/Tubman-1.jpg' %}" class="img-fluid" alt="...">
           
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href=""></a></h5>
              <p class="fst-italic text-center"></p>
              <p class="card-text">Information Coming Soon</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'schoolassets/img/Tubman-1.jpg' %}" class="img-fluid" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href=""></a></h5>
              <p class="fst-italic text-center"></p>
              <p class="card-text">Coming Soon</p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End Events Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg">
    <div class="container">

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="2024" data-purecounter-duration="1" class="purecounter"></span>
          <p>Academic Statistic</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="0" data-purecounter-duration="1" class="purecounter"></span>
          <p>Male</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="0" data-purecounter-duration="1" class="purecounter"></span>
          <p>Female</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="0" data-purecounter-duration="1" class="purecounter"></span>
          <p>Students</p>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>School</h2>
        <p>Administrative Staff</p>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

        {% for staff in tubman_admin %}

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                {% if staff.image %}
                  <img src="{{ staff.image.url }}" class="testimonial-img" alt="">


                {% endif %}
                
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3>{{staff.name}}<br>{{staff.position}}</h3>
              </div>
            </div>
          </div><!-- End testimonial item -->

        {% endfor %}


        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

  <!-- ======= Trainers Section ======= -->
  <section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>2023/2024</h2>
        <p>Honor Society</p>
      </div>

      <div class="row" data-aos="zoom-in" data-aos-delay="100">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="{% static 'schoolassets/img/Tubman-1.jpg' %}" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Student Name</h4>
              <span>Info</span>
              <p>
                Coming Soon
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="{% static 'schoolassets/img/Tubman-1.jpg' %}" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Student Name</h4>
              <span>Art Department</span>
              <p>
                xxxxxxxx
              </p>
        
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="{% static 'schoolassets/img/Tubman-1.jpg' %}" class="img-fluid" alt="">
            <div class="member-content">
              <h4>William Anderson</h4>
              <span>Content</span>
              <p>
                Coming Soon
              </p>
        
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Trainers Section -->

</main><!-- End #main -->

{% endblock %}